<div class="contact" id="contact">

  <div class="container">

    <h2>Contact us</h2>

    <p>If you're interested in purchasing the ppack cone in bulk, please reach out to us below. Thanks!</p>

    <form class="" action="/email" method="post">
      <ol>
        <li>
          <label for="name">Name</label>
          <input type="text" name="name" value="" />
        </li>
        <li>
          <label for="email">Email</label>
          <input type="text" name="email" value="" />
        </li>
        <li>
          <label for="message">Message</label>
          <textarea name="message" rows="5" cols="40"></textarea>
        </li>
        <li>
          <button>Send</button>
        </li>
      </ol>
    </form>

  </div>

</div>
