<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <% include ../partials/jumbotron.ejs %>

  <% include ../partials/about.ejs %>

  <% include ../partials/contact.ejs %>


</body>
</html>
