<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>
      <a href="/" class="logo">ppack</a>
    </h1>
    <p>A better way to pee standing up.</p>
  </div>
</div>

  <% include ../partials/about.ejs %>



</body>
</html>
